AUTH_ORIGIN=""
SECRET_KEY=supersecretkey
OPENAI_API=""
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=your_api_key"
# DATABASE_URL="postgresql://your_user@localhost:5432/seo-generator"